<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Редактирование ангара</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>


<div class="container mt-5 mb-5">
    <h1>Редактирование ангара</h1>
    <div th:each="el : ${hangar}">
        <form method="post">
            <label>Планета</label>
            <input type="text" th:value="${el.planet}" name="planet" placeholder="Планета" class="form-control">
            <br>
            <input type="checkbox"  th:checked="${el.is_enabled}" name="is_enabled"><label>__Активен</label>
            <input type="hidden" name="is_enabled" value="false"/>
            <br>
            <button type="submit" class="btn btn-success">Обновить</button>
        </form>
    </div>
</div>
</body>
</html>